
.jumbotron-main {
	padding: 2rem 1rem; background-color:#43455c;
}

h1 {
	color: #ffffff ; font-family: MV boli; 
}

h3 {
	color: #ffffff ;  font-family: Times;
}

h2 {
	color: #00000 ; font-family: MV boli; 
}

.jumbotron{
	padding: 2rem 1rem; background-color:#6a8595;
}

p {
	color: #00000 ;  font-family: Times;	
}
